*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-image: url("../img_stock/sign_up/sign_in_background.jpg");
    background-size: cover;
    user-select: none;
}
.body_head{
    width: 100%;
    height: 2rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0% 1%;
}
.head_logo{
    width: 4.5rem;
    height: 50%;
}
.conteneur{
    width: 100%;
    height: 37.5rem;
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: row;
}
.half_1st,.half_2ed{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.conteneur_half_1st_logo{
    width: 6.5rem;
}
.half_2ed{  
    background-color: rgb(0, 0, 0,0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4%;
}
.conteneur_half_2ed_title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 100;
    color: white;
}
.conteneur_half_2ed_sign_in{
    width: 70%;
    height: 4rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.conteneur_half_2ed_sign_in_space{
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid darkgray;
    background-color: rgb(0, 0, 0,0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0% 1%;
    color: white;
}
.conteneur_half_2ed_sign_in_space:hover{
    background-color: rgb(255, 255, 255,0.1);
}
.conteneur_half_2ed_button1{
    width: 70%;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid gray;
    background-color: grey;
    font-weight: bolder;
    cursor: pointer;
    margin-top:-2%;
}
.conteneur_half_2ed_button2{
    width: 70%;
    height: 2rem;
    border-radius: 15px;
    border: 1px solid white;
    background-color: rgb(47, 47, 47,0.8);
    font-weight: bolder;
    cursor: pointer;
    color: white;
}
.conteneur_half_2ed_button2:hover{
    background-color: rgb(47, 47, 47,0.99);
}
.conteneur_half_2ed_link1,.conteneur_half_2ed_link2,.conteneur_half_2ed_link3{
    color: #249cff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}
.conteneur_half_2ed_link1 :hover,.conteneur_half_2ed_link2 :hover,.conteneur_half_2ed_link3:hover{
    color: #0e548d;
}
@media (max-width: 480px) { 
    .body_head{
        width: 100%;
        height: 2rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteneur{
        width: 100%;
        height: 37.5rem;
        display: flex;
        flex-direction: column;
    }
    .half_1st{
        display: flex;
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: center;
    }
    .conteneur_half_1st_logo{
        width: 4.5rem;
    }
    .half_2ed{
        display: flex;
        width: 100%;
        height: 70%;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 768px) { 
    .body_head{
        width: 100%;
        height: 2rem;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteneur{
        width: 100%;
        height: 37.5rem;
        display: flex;
        flex-direction: column;
    }
    .half_1st{
        display: flex;
        width: 100%;
        height: 30%;
        align-items: center;
        justify-content: center;
    }
    .conteneur_half_1st_logo{
        width: 4.5rem;
    }
    .half_2ed{
        display: flex;
        width: 100%;
        height: 70%;
        align-items: center;
        justify-content: center;
    }
}

